.wrapper{
  display: flex;
}


.wrapper > div {
  font-size: 4vh;
    color: white;
  background: hotpink;
    margin: .1em;
  padding: .3em;
  border-radius: 3px;
  flex: 1;
}

.wrapper .wrapper > div {
  background: pink;
  color: hotpink;

}

img {
  height: 35px;
  width: 90px;
}

.div { background-image: url("img/lsmm-desktop-accordion-exposed.jpg");
  height: 90px;
  width: 1px;
}
